*{
    margin:0;
    box-sizing:border-box;
}
body {
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    background-color:rgba(199, 195, 195, 0.13);
    text-align:center;
}
.nav-container {
    max-width:1000px;
    margin:0 auto;
}
nav {
    float:right;
    margin-top:15px;
}
nav ul li {
    float:left;
    list-style-type:none;
}
nav ul li a {
    padding:10px 20px;
    text-decoration:none;
    color:#fff;
}
nav ul li :hover {
    color:#d1e2f2;
}
.sub-menu {
    position: relative;
    top: 15px;
    display: none;
    width: 100px;
    right: 15px;
    
}

.sub-menu li {
    float: none;
    position: relative;
    left: -30px;
    padding:10px 10px;
    
}

.slider {
    height:600px;
    position:relative;
    margin-bottom:30px;
    background-image:url("../img/web-computer.jpg");
    background-size:cover;
    background-position: center center;
}
h1 {
    position:absolute;
    font-size:3rem;
    color:#fff;
    top: 200px;
    right: 0;
    left: 0;
    margin: auto;
}
main {
    max-width:1000px;
    margin:auto;
}
.images-container {
    flex:1;
    padding:5px;
}
.images-container img {
    display:block;
    margin-bottom:20px;
    margin:0 auto;
}
.images-container p {
    padding:10px;
}
.clear {clear:both;}

.flex-container {
    margin:auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding-top:30px;
}
#portfolio img {
    width:100%;
    padding:10px;
}
section h2 {
    margin:30px auto;
}
.section-story {
    padding:0 15px;
}

/*Footer css*/

.map {
	background-image: url('img/map.jpg');
	background-size:cover;
}
.contact-form {
	padding:80px 10px 104px 66px;
	background: rgba(52, 51, 50, 0.82);
	margin:100px auto;
	max-width:900px;
	
}
.black-footer {
background-color:black;
}
form {
    float:left;
    width:67%;
    margin-right:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
input, textarea, button {
	margin:5px;
	padding:14px 10px;
	background-color:rgba(224, 220, 220, 0);
	color:rgb(222, 219, 219);
	border-width:1px;
}

button {
	width:120px;
	height:50px;
	background:yellow;
	color:black;
}
::placeholder {
	color:rgb(222, 219, 219);
}
label {
	padding:20px 5px;
	color:rgb(222, 219, 219);
}

.contacts {
	color:#fff;
	text-align:left;
}

/*End Footer css*/



@media screen and (max-width:700px){
    
.portfolio-flex-container {
     flex-direction:column;
 }
    
    
    
.contact-form {
    padding:15px;
}
.contacts {
    clear:both;
    padding:0;
  }  
form {
    width:70%;
}    
textarea, button {
    min-width:180px;
}    
    
}

@media screen and (min-width:320px) and (max-width:)