*{margin:0;}
body {
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    background-color:rgba(199, 195, 195, 0.13);
    text-align:center;
}
nav {
    float:right;
    margin-top:15px;}
nav ul li {
    float:left;
    list-style-type:none;
}
nav ul li a {
    padding:10px 20px;
    text-decoration:none;
    color:#fff;}
nav ul li :hover {
    border:1px solid #fff;
    border-radius: 10px;
}   
.slider {
    height:600px;
    margin-bottom:30px;
    background-image:url("web-computer.jpg");
    background-size:cover;
    background-position: center center;
}
h1 {
    position:relative;
    top:200px;
    font-size:3rem;
    color:#fff;
}
main {
    max-width:1200px;
    margin:auto;
}
.images-container {
   flex-basis:0;
}
.images-container img {
    display:block;
    margin:auto;
    margin-bottom:20px;
 
}
.clear {clear:both;}

.flex-container {
    margin:auto;
    display:flex;
    justify-content:space-between;
    padding-top:30px;
}

#portfolio img {
    height:250px;
    width:350px;
}
section h2 {margin:30px auto;}


@media screen and (max-width:900px){
    .slider {
        height:400px;
    }
    
    .flex-container {
        flex-wrap:wrap;
        justify-content:space-around;
        flex-basis:50%;
    }
    
    
}
