*{margin:0;}
body {
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    background-color:rgba(199, 195, 195, 0.13);
    text-align:center;
}
nav {
    float:right;
    margin-top:15px;}
nav ul li {
    float:left;
    list-style-type:none;
}
nav ul li a {
    padding:10px 20px;
    text-decoration:none;
    color:#fff;}
nav ul li :hover {
    border:1px solid #fff;
    border-radius: 10px;
}   
.slider {
    height:600px;
    background-image:url("web-computer.jpg");
    background-size:cover;
    background-position: center;
}
h1 {
    margin: auto;
    position:relative;
    top:200px;
    font-size:42px;
    color:#fff;
}
main {
    max-width:1200px;
    margin:auto;
}
.images-container {
    float:left;
    text-align:center;
}
.images-container img {
    display:block;
    height:250px;
    margin: 0 65px;
}
.clear {clear:both;}